<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="template.css">
    <!--$donnee_css-->
    <title>MyWishList$titre</title>
</head>
    <body>
        <div class="top">
            <a class="active" href="#home">Accueil</a>
            <a href="">Liste</a>
            <a href="">Item</a>
            <a href="">Inscription</a>
            <a href="">Connexion</a>
        </div>
        <div class="principal">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et condimentum ante. Vivamus vitae tortor egestas velit elementum vulputate ac sed elit. Donec maximus nisl non magna dictum iaculis. Duis hendrerit eros ut sapien porta facilisis. Cras eget dignissim risus. Mauris facilisis, sapien eget varius hendrerit, nunc sem tincidunt odio, vitae luctus turpis ligula ultrices risus. Duis varius velit vel risus commodo pellentesque sit amet a purus. Aliquam pellentesque, orci vitae pellentesque dapibus, lacus turpis rutrum ex, eget sodales erat enim non sem.

                Aenean eros urna, molestie eu leo a, pellentesque porta sem. Aenean non odio leo. Vivamus venenatis maximus lectus, sit amet sollicitudin purus faucibus nec. Curabitur vel magna id eros gravida ultrices. Proin porta arcu ut maximus vestibulum. Mauris facilisis elementum mauris, in feugiat libero ultricies a. Mauris non sem in leo aliquam suscipit vitae non turpis. Nullam maximus dolor libero, at molestie lorem sollicitudin eget. Ut quis diam enim. Suspendisse eu sagittis massa. Etiam lorem metus, placerat a rhoncus sit amet, maximus sed purus. Sed dui odio, faucibus vel nibh eu, vehicula sodales orci. Ut dolor elit, rhoncus sed tellus et, laoreet scelerisque mi. Ut id dui cursus, euismod sem ac, posuere urna. In hac habitasse platea dictumst.
            </p>
            $donnee_html
        </div>
    </body>
</html>